/* Hide button at load */
.addeventatc {
	visibility: hidden;
}

/* Make sure the options layer / dropdown is always visible */
.addeventatc_dropdown {
	display: block !important;
}

/* Some demo styling of the options */
.addeventatc_dropdown span {
	display: inline-block;
	border-width: $border-thick;
	font-weight: $font-weight-normal;
	font-size: $font-size-small;
	line-height: $line-height;
	margin: 10px 5px;
	border-radius: $border-radius-small;
	padding: $padding-btn-vertical $padding-btn-horizontal;
	cursor: pointer;

	@include btn-styles($white-color, $gold-color-dark);

	border: $border;
	border-color: $white-color;
	padding: $padding-btn-vertical - 1 $padding-round-horizontal - 1;
	background-color: $transparent-bg;

	&:hover,
	&:focus {
		@include opacity(1);
		outline: 0 !important;
	}

	&:active,
	&.active,
	.open > &.dropdown-toggle {
		@include box-shadow(none);
		outline: 0 !important;
	}

	em {
		display: none;
	}
}

.addeventatc_dropdown span em {
	font-size: 12px;
	color: #ccc;
}

/* Remove the AddEvent credits */
.addeventatc_dropdown .copyx {
	display: none;
}
