.countdown__container {
	display: block;
	margin: 30px 0;
}

.countdown-part {
	display: inline-block;
	border-width: $border-thick;
	font-weight: $font-weight-normal;
	font-size: $font-size-small;
	line-height: $line-height;
	margin: 10px 5px;
	border-radius: $border-radius-small;
	padding: $padding-btn-vertical $padding-btn-horizontal;
	cursor: pointer;

	border: $border;
	border-color: $white-color;
	padding: $padding-btn-vertical - 1 $padding-round-horizontal - 1;
	background-color: $transparent-bg;
}
