<template>
  <div class="home">
    <div class="page-header">
      <parallax class="page-header-image"
                style="background-image: url('https://source.unsplash.com/nYugmV-SY6s')"></parallax>
      <div class="content-center">
        <div class="container">
          <h1 class="title">The Real Royal Wedding</h1>
          <h3>20 juni 2019</h3>
        </div>
      </div>
    </div>

    <div id="wie" class="section section-about-us">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Wie?</h2>
            <h5 class="description">
              Verhaaltje over ons I guess
            </h5>
          </div>
        </div>
        <div class="separator separator-primary"></div>
        <div class="section-story-overview">
          <div class="row">
            <div class="col-md-6">
              <div class="image-container image-left"
                   style="background-image: url('https://source.unsplash.com/M2T1j-6Fn8w')">
                <!-- First image on the left side -->
                <p class="blockquote blockquote-primary">"Een leuke quote van ons etc etc"
                  <br>
                  <br>
                  <small>-Cherish en Patrick</small>
                </p>
              </div>
              <!-- Second image on the left side of the article -->
              <div class="image-container"
                   style="background-image: url('https://source.unsplash.com/7bVMdNYzH_8')"></div>
            </div>
            <div class="col-md-5">
              <!-- First image on the right side, above the article -->
              <div class="image-container image-right"
                   style="background-image: url('https://source.unsplash.com/GcW93Uuljgo')"></div>
              <h3>Een kort verhaaltje of niks of iets ik weet niet.</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fermentum accumsanlorem. Suspendisse suscipit tortor nisi, vel faucibus dui semper vel. Pellentesque ultricies luctus libero, nec cursus velit feugiat id. Nunc nec sapien ac metus commodo pellentesque id nec leo. Integer in risus laoreet, faucibus purus aliquet, euismod augue. Phasellus nisi nibh, gravida eu maximus in, dignissim vitae ex. Curabitur blandit ex tellus, id commodo lacus tristique et. Integer ac mi augue. Nam nec odio condimentum, lobortis sem non, feugiat diam. Fusce non iaculis tellus. Duis laoreet turpis in est iaculis bibendum. Pellentesque fringilla metus volutpat lacus accumsan hendrerit. Mauris tincidunt nulla et urna convallis viverra. Donec faucibus urna ut viverra accumsan. Proin lectus sem, congue id placerat a, fringilla ac leo. Morbi non odio bibendum, convallis augue nec, eleifend dolor.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="people" class="section section-team text-center"
         style="background-image: url('https://source.unsplash.com/JIISwPwxPD8');">
      <div class="container">
        <h2 class="title text-white">De mensen</h2>
        <div class="team">
          <div class="row">
            <div class="col-md-4">
              <card>
                <img slot="image" class="card-img-top" src="https://source.unsplash.com/2Tv7-O13hgk"
                     alt="Card image cap">
                <div>
                  <h4 class="card-title">Voornaam Achternaam</h4>
                  <p
                    class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                  </p>
                  <rrw-button type="primary">Go somewhere</rrw-button>
                </div>
              </card>
            </div>
            <div class="col-md-4">
              <card>
                <img slot="image" class="card-img-top" src="https://source.unsplash.com/2Tv7-O13hgk"
                     alt="Card image cap">
                <div>
                  <h4 class="card-title">Voornaam Achternaam</h4>
                  <p
                    class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                  </p>
                  <rrw-button type="primary">Go somewhere</rrw-button>
                </div>
              </card>
            </div>
            <div class="col-md-4">
              <card>
                <img slot="image" class="card-img-top" src="https://source.unsplash.com/2Tv7-O13hgk"
                     alt="Card image cap">
                <div>
                  <h4 class="card-title">Voornaam Achternaam</h4>
                  <p
                    class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                  </p>
                  <rrw-button type="primary">Go somewhere</rrw-button>
                </div>
              </card>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section id="locatie" class="section section-maps">
      <google-maps>
        <div slot="markerDetail" class="maps-location-detail">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <card>
                  <img slot="image" class="card-img-top" src="../assets/peerdegaerdt.jpg"
                       alt="Card image cap">
                  <div>
                    <h4 class="card-title">Landgoed de Peerdegaerdt</h4>
                    <p class="card-text">Zorgboederij de Peerdegaerdt</p>
                    <rrw-button type="primary">Bereken route</rrw-button>
                  </div>
                </card>
              </div>
            </div>
          </div>
        </div>
      </google-maps>
    </section>
  </div>
</template>

<script>
  import Parallax from '../components/Parallax';
  import Button from '../components/Button';
  import Card from '../components/Card';
  import GoogleMaps from '../components/GoogleMaps';

  export default {
    name: 'home',
    components: {
      Parallax,
      'rrw-button': Button,
      Card,
      GoogleMaps
    }
  };
</script>

<style lang="scss" scoped>
  .home {
    .page-header {
      h1 {
        margin-bottom: 0;
      }

      h3 {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
      }
    }
  }
</style>
