<template>
  <div class="page-header save-the-date save-the-date__background">
    <instagram-grid />
    <div class="save-the-date__border-container">
      <div class="save-the-date__border">
        <div class="content-center">
          <div class="container">
            <transition name="fadeOne">
              <div v-if="show" class="reveal-wrapper">
                <h1 class="title">Save the date</h1>
              </div>
            </transition>
            <transition name="fadeTwo">
              <div v-if="show" class="reveal-wrapper">
                <h6>donderdag</h6>
                <h3>20 juni 2019</h3>
              </div>
            </transition>

            <vue-countdown :time="epochWeddingDateCountdown" class="countdown__container">
              <template slot-scope="props">
                <span class="countdown-part">{{ props.days }} days</span>
                <span class="countdown-part">{{ props.hours }} hours</span>
                <span class="countdown-part">{{ props.minutes }} minutes</span>
                <span class="countdown-part">{{ props.seconds }} seconds</span>
              </template>
            </vue-countdown>

            <transition name="fade">
              <div v-show="showCalendar" title="Add to Calendar" class="addeventatc" data-render="inline-buttons">
                Toevoegen aan agenda
                <span class="start">06/20/2019 12:00</span>
                <span class="end">06/20/2019 23:00</span>
                <span class="timezone">Europe/Amsterdam</span>
                <span class="title">Bruiloft Cherish & Patrick</span>
                <span class="description">De grote dag!</span>
                <span class="location">Kruisdijk 4b, 3291 LH Strijen</span>
              </div>
            </transition>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import InstagramGrid from '../components/InstagramGrid';
  import VueCountdown from '@chenfengyuan/vue-countdown';

  export default {
    name: 'SaveTheDate',
    components: {
      InstagramGrid,
      VueCountdown
    },

    data() {
      return {
        show: false,
        showCalendar: false
      };
    },

    computed: {
      epochWeddingDateCountdown() {
        const curDate = new Date().getTime();
        const weddingDate = 1560981600000;
        return weddingDate - curDate;
      }
    },

    methods: {
      showCalendarButtons() {
        setTimeout(() => {
          this.showCalendar = true;
        }, 600);
      }
    },

    created() {
      setTimeout(() => {
        this.show = true;
        this.showCalendarButtons();
      }, 300);
    }
  };
</script>

<style lang="scss" scoped>
  .save-the-date {
    width: 100vw;
    height: 100vh;
    color: #fff;

    hr {
      border-top: 1px solid rgba(255, 255, 255, .4);
      width: 15%;
    }

    h1 {
      margin-bottom: 0;
    }

    h3 {
      font-family: 'Raleway', sans-serif;
      font-weight: 400;
    }

    h6 {
      font-family: 'Raleway', sans-serif;
      font-weight: 400;
      margin: 5px 0 0;
      font-size: 12px;
    }

    &__border {
      width: 100%;
      height: 100%;
      z-index: 999;

      @media only screen and (min-width: 768px) {
        position: relative;
        border: 1px solid #fff;
      }
    }

    &__border-container {
      padding: 0;
      height: 100%;
      width: 100%;

      @media only screen and (min-width: 768px) {
        padding: 50px;
      }
    }
  }

  .reveal-wrapper {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  .fadeOne-enter-active, .fadeOne-leave-active {
    transition: all .5s ease-out;
  }

  .fadeOne-enter, .fadeOne-leave-to {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    transform: translate(0%, 100%);
  }

  .fadeTwo-enter-active, .fadeTwo-leave-active {
    transition: all .5s ease-out;
  }

  .fadeTwo-enter, .fadeTwo-leave-to {
    clip-path: polygon(0% 100%, 100% 100%, 0% 100%, 0% 100%);
    transform: translate(0%, -100%);
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }

  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
</style>
