<template>
  <div class="instagram__grid" v-if="grams.length > 0">
    <div v-if="hasBackground" class="instagram__background"></div>
    <div v-for="gram in grams" :key="gram.title" class="instagram__image">
      <template v-if="gram.type === 'video'">
          <video muted autoplay loop width="100%" height="100%">
            <source :src="gram.videos.standard_resolution.url" type="video/mp4">
          </video>
      </template>
      <template v-if="gram.type === 'image'">
        <img :src="gram.images.standard_resolution.url" :alt="gram.text" />
      </template>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'InstagramGrid',

    props: {
      hasBackground: {
        type: Boolean,
        default: true
      }
    },

    data () {
      return {
        access_token: '10000142199.1677ed0.1f09f0738ddd4622ba7f6a119449bc0c',
        url: 'https://api.instagram.com/v1/users/self/media/recent/',
        grams: [],
        next_url: '',
        error: false
      }
    },

    methods: {
      getGrams () {
        axios.get(this.url + '?access_token=' + this.access_token)
          .then(({data}) => {
            this.grams = data.data
            this.next_url = data.pagination.next_url;
            this.getMoreGrams();
          })
          .catch(function (error) {
            console.log(error)
            this.error = true
          })
      },

      getMoreGrams() {
        if (this.next_url) {
          axios.get(this.next_url)
            .then(({ data }) => {
              this.grams = this.grams.concat(data.data)
              this.next_url = data.pagination.next_url
              this.getMoreGrams()
            })
            .catch(function (error) {
              console.log(error)
              this.error = true
            });
        }
      }
    },

    created () {
      this.getGrams()
    }

  }
</script>

<style scoped lang="scss">
  .instagram__grid {
    position: absolute;
    display: flex;
    flex-wrap: wrap;

    .instagram__image {
      flex: 1 0 100%;
      box-sizing: border-box;

      img {
        object-fit: cover;
        min-height: 100%;
      }

      @media only screen and (min-width: 640px) {
        flex: 1 0 50%;
      }

      @media only screen and (min-width: 1024px) {
        flex: 1 0 33.33%;
      }

      @media only screen and (min-width: 1140px) {
        flex: 1 0 25%;
      }
    }

    .instagram__background {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .65);
    }
  }
</style>
